FLASK_ENV="production"
DB_DATABASE=cfchemdb
DB_USER=
DB_PASSWORD=

APP_NAME=CFChemAPI
URL_PREFIX=cfchem
APP_PORT=
SERVER_NAME=chiltepin.health.unm.edu
APP_URL=${SERVER_NAME}/${URL_PREFIX}

# for UI 
VITE_API_HOST=https://${APP_URL}/api/v1/search/
VITE_ASSET_ROOT=/${URL_PREFIX}
UI_PORT=

# for gunicorn - unlikely that you'd need to change these vals
N_WORKERS=3
MAX_REQUESTS=1000