TZ=America/Denver
# all DB_* variables must match what is in the database Dockerfile!
DB_NAME=badapple_classic
DB_USER=robin
DB_PASSWORD=katchow
DB_PORT=5442
BADAPPLE_NGINX_SSL_PORT=
BADAPPLE_NGINX_HTTP_PORT=
APP_NAME=Badapple2-API
APP_PORT=
APP_URL=
VITE_API_HOST=http://localhost:${APP_PORT}/api/v1/compound_search/get_associated_scaffolds_ordered
