FLASK_ENV="production"
DB_HOST=cfchem_db # match name of docker service
DB_DATABASE=cfchemdb
DB_USER=
DB_PASSWORD=
DB_PORT=
CFCHEM_NGINX_SSL_PORT=
CFCHEM_NGINX_HTTP_PORT=

APP_NAME=CFChemAPI
URL_PREFIX=cfchem
APP_PORT=8004 # make sure this matches with nginx.conf
APP_URL=chiltepin.health.unm.edu/${URL_PREFIX}

# for UI 
VITE_API_HOST=${APP_URL}/api/v1/search
VITE_ASSET_ROOT=/${URL_PREFIX}
UI_PORT=

# for gunicorn - unlikely that you'd need to change these vals
N_WORKERS=3
MAX_REQUESTS=1000